@import url("https://fonts.googleapis.com/css2?family=Nanum+Brush+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jua&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

ul, ol, li {
  list-style: none;
}

a {
  text-decoration: none;
}

.btn_home {
  z-index: 31;
  width: 40px;
  height: 40px;
  top: 0px;
  left: 0px;
  position: absolute;
}

body {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
body main {
  width: 100%;
  height: 100%;
}
body main .bg {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
}
body main .bg img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
body main .mt {
  width: 60vw;
  height: 60vh;
  position: absolute;
  left: -45vw;
  bottom: -30vh;
  animation: mt_move 0.7s ease-out;
  animation-fill-mode: forwards;
  animation-delay: 0.3s;
  z-index: 3;
}
@keyframes mt_move {
  0% {
    left: -30vw;
    bottom: -20vh;
  }
  100% {
    left: -20vw;
    bottom: -10vh;
  }
}
body main .mt img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
body main .hong2 {
  width: 30vw;
  height: 40vh;
  z-index: 2;
  position: absolute;
  bottom: -30vh;
  left: -5vw;
  animation: hong2_move 0.7s ease-out;
  animation-delay: 1.3s;
  animation-fill-mode: forwards;
}
@keyframes hong2_move {
  0% {
    bottom: -30vh;
    left: -10vw;
  }
  100% {
    bottom: 8vh;
    left: 0vw;
  }
}
body main .hong2 img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
body main .bg2 {
  width: 80vw;
  height: 80vh;
  position: absolute;
  right: -100vw;
  bottom: -80vh;
  animation: bg_move 0.7s linear;
  animation-fill-mode: forwards;
  animation-delay: 0.2s;
  z-index: 2;
}
@keyframes bg_move {
  0% {
    right: -60vw;
    bottom: -50vh;
  }
  100% {
    right: -20vw;
    bottom: 0vh;
  }
}
body main .bg2 img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
body main .txt_box {
  width: 60vw;
  height: 50vh;
  position: absolute;
  z-index: 3;
  top: 13vh;
  left: 20vw;
  opacity: 0;
  animation: fadein 0.5s linear;
  animation-fill-mode: forwards;
  animation-delay: 2.2s;
}
body main .txt_box img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
body main .txt_box .txt_1 {
  width: 90%;
  height: 55%;
  top: 25%;
  left: 5%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  font: 5.7vh "Nanum Brush Script";
  color: #000;
}
body main .txt_box_ {
  width: 60vw;
  height: 50vh;
  position: absolute;
  z-index: 3;
  top: 13vh;
  left: 20vw;
  opacity: 0;
  animation: fadein 0.5s linear;
  animation-fill-mode: forwards;
}
@keyframes box_move {}
body main .txt_box_ img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
body main .txt_box_ .txt_1 {
  width: 90%;
  height: 55%;
  top: 25%;
  left: 5%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  font: 5.7vh "Nanum Brush Script";
  color: #000;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*# sourceMappingURL=game_intro_style.css.map */
