@charset "UFT-8";
@import "reset";

@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

body {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: rgb(79, 91, 255);

    .off_container {
        visibility: hidden;
    }

    .container {
        position: absolute;
        z-index: 15;
        width: 100%;
        height: 100%;
        background: #b1e1e2;
        opacity: 0;
        animation: apr 1s linear;
        animation-fill-mode: forwards;

        @keyframes apr {
            0%{opacity: 0;}
            100%{opacity: 1;}
        }
    }

    main {
        width: 100%;
        height: 100%;

        .box {
            overflow: hidden;
            position: absolute;
            width: 60vw;
            height: 40vh;
            background: rgb(129, 136, 230);
            border-radius: 3vh;
            top: 10vh;
            left: 20vw;
            animation: puffIn 1s;
            animation-duration: 1s;
            animation-fill-mode: forwards;

            

            .txt1 {
                margin-top: 3vh;
                display: flex;
                justify-content: center;
                align-items: center;
                font: 7vh "Jua";
            }

            .txt2 {
                margin-top: 3vh;
                display: flex;
                justify-content: center;
                align-items: center;
                font: 7vh "Jua";
            }

            .txt3 {
                margin-top: 3vh;
                display: flex;
                justify-content: center;
                align-items: center;
                font: 7vh "Jua";
            }
        }

        .announce {
            position: absolute;
            font: 4vh "Jua";
            color: rgb(222, 127, 127);
            top: 52vh;
            left: 20vw;
            animation: puffIn 1s;
            animation-duration: 1.2s;
            animation-fill-mode: forwards;
        }

        .btn1 {
            position: absolute;
            width: 60vw;
            height: 12vh;
            background: rgba(164, 202, 197,0.8);
            left: 20vw;
            top: 60vh;
            display: flex;
            justify-content: center;
            align-items: center;
            font: 5vh "JUA";
            border-radius: 4vh;
            color: #333;
            animation: puffIn 1s;
            animation-duration: 1.5s;
            animation-fill-mode: forwards;
        }

        .btn2 {
            position: absolute;
            width: 60vw;
            height: 12vh;
            background: rgba(227, 224, 182, 0.8);
            left: 20vw;
            top: 80vh;
            display: flex;
            justify-content: center;
            align-items: center;
            font: 5vh "JUA";
            border-radius: 4vh;
            color: #333;
            animation: puffIn 1s;
            animation-duration: 1.5s;
            animation-fill-mode: forwards;
        }

        .warning, .offing_warning {
            position: absolute;
            z-index: 10;
            background: rgb(255,255,255);
            border-radius: 4vh;
            width: 68vw;
            height: 65vh;
            top: 20vh;
            left: 16vw;

            .warning1 {
                margin-left: 2vw;
                margin-right: 2vw;
                margin-top: 4vh;
                font: 8vh "JUA";
            }

            .warning2 {
                margin-left: 2vw;
                margin-right: 2vw;
                margin-top: 4vh;
                font: 8vh "JUA";
            }

            .warning_btn1 {
                position: absolute;
                width: 20vw;
                height: 10vh;
                margin-top: 10vh;
                right: 50%;
                margin-right: 5vw;
                background: rgba(164, 202, 197,0.8);
                border-radius: 2vh;
                display: flex;
                justify-content: center;
                align-items: center;
                font: 8vh "JUA";
            }

            .warning_btn2 {
                position: absolute;
                width: 20vw;
                height: 10vh;
                left: 50%;
                margin-top: 10vh;
                margin-left: 5vw;
                background: rgba(227, 224, 182, 0.8);
                border-radius: 2vh;
                display: flex;
                justify-content: center;
                align-items: center;
                font: 8vh "JUA";
            }
        }

        .warning {
            opacity: 0;
            animation: puffIn 1s;
            animation-duration: 1s;
            animation-fill-mode: forwards;
        }

        .offing_warning {
            opacity: 1;
            animation: puffOut 1s;
            animation-delay: 0.5s;
            animation-fill-mode: forwards;
        }

        .off_warning {
            visibility: hidden;
        }
    }
}

@keyframes puffIn {
    0% {
      opacity: 0;
      transform-origin: 50% 50%;
      transform: scale(2, 2);
      filter: blur(2px);
    }
    100% {
      opacity: 1;
      transform-origin: 50% 50%;
      transform: scale(1, 1);
      filter: blur(0px);
    }
  }

  @keyframes puffOut {
    0% {
      opacity: 1;
      transform-origin: 50% 50%;
      transform: scale(1, 1);
      filter: blur(0px);
    }
    100% {
      opacity: 0;
      transform-origin: 50% 50%;
      transform: scale(2, 2);
      filter: blur(2px);
    }
  }